

body{
  background:url('../img/payment_page.jpg') no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed; 

}

.btn{
  width:160px;
  margin:auto;
  margin-top:380px;
}

