*{
    margin: 0px;
    padding: 0px;
    font-family: 'Hahmlet', serif;
}


body{
    background-color: #e0e0e4;
}
/* Navbar css */
#navbar {
    display: flex;
    /* background-color: grey; */
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#navbar::before{
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
    

}

#navbar img{
    height: 40px;
    margin-left: 15px;
    filter: invert(100%);
}

#navbar ul{
    display: flex;
}

#navbar ul li {
    list-style: none;
    margin-left: 20px;
   
}

#navbar a{
    display: block;
    padding: 10px 25px;
    color: white;
    margin: 5px;
    border-radius: 30px;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;

}
#navbar a:hover{
    background-color: rgb(73, 72, 72);
    color: white;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 30px 200px;
    height: 450px;
}
.home::before{
    content: "";
    background:url('../img/home_img.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: 0.9;
    top: 0px;
}
.home h1{
    color:white;
    margin-bottom: 30px;
}
.home p{
    color:white;
    margin-bottom: 5px;
    text-shadow: 2px 2px #000000;
   
}
.home button{
  
    background-color: grey;
    color: white;
    padding: 10px 40px;
    margin-top: 90px;
    border-radius: 20px;
    transition-property: all;
    transition-duration: 0.5s;
}
.home .btn:hover{
    background-color: white;
    color: black;
  
}



/* about us css */


.about-us .cont{
    width: 750px;
    padding:30px;
    margin:auto;
    color:rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 1px 1px #000000;
}
.about-us{
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}

.about-us h1{
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px #000000;
}

.about-us::before{
    content: "";
    background:url('../img/about_us.png') no-repeat center center/cover;
    position: absolute;
    left:18%;
    height:98%;
    width: 66%;
    z-index: -1;
    opacity: 0.9;
    border-radius: 20px;

}




/* Conntact CSS */
.contact-us{
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}

.form::before{
    content: "";
    background:url('../img/contact_us.jpg') no-repeat center center/cover;
    position: absolute;
    height:91%;
    width: 45%;
    z-index: -1;
    opacity: 1;
    border-radius: 20px;

}


.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    width: 75%;
    margin: auto;
}


.form-item input{
    padding: 5px 10px;
    width: 120%;
    border-radius: 10px;
}

.form-item {
    margin-top: 20px;
    color: white;
}

.form-item textarea{
    display: flex;
    padding: 2px;
    margin-top: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
  
}
.heading h1{
    text-align: center;
    margin-top: 20px;
}

.copyright{
    background-color: black;
    color: white;
    text-align: center;
}

